<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>C.S Hostel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <link href="assets/css/style.css" rel="stylesheet">


</head>
<body>
<header id="header" class="fixed-top" style="padding: 4px 0;">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto "><a href="/" class="text-warning">SIYARAM Hostel</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="ug">U.G Hostel </a></li>
          <li><a href="pg">P.G Hostel</a></li>
          <li><a href="emp">Employee Management</a></li>
          <li><a href="notice">Notice Bord</a></li>
         
          <li><a href="contact">Contact</a></li>
     
          <li class="dropdown"><a href="/login"><span><button class="btn btn-primary">Sign in</button></span></a>
            <ul>
              <li><a href="profile">Profile</a></li>
              <li><a href="room">Room</a></li>
           
              <li><a href="logout">Sign out</a></li>
            </ul>
          </li>
       
        </ul>
 
      </nav><!-- .navbar -->
    </div>
     

  
  </header><!-- End Header -->
  <br>
<br>
<br>

