
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Hostel Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
   
</head>
<body>
    
<br>
<br>
<form action="/manager/m_login" method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-5 border p-3">
                <h1 class="text-center text-warning">-Manager Login-</h1>
                <br>
                <b>Manager username</b>
                <input type="text" name="m_name" class="form-control" required>
                <br>
                <b>Password</b>
                <input type="password" name="manager_password" class="form-control" required>
                <br>
                <div class="text-right">
                <button class="btn btn-primary ">Login Now</button>
                </div>
                
            </div>

        </div>
    </div>
</form>
<br>
<br>
<br>

